body {
  font-family: sans-serif;
  line-height: 1.4;
}

article {
  border: 5px solid #444;
}

.main-header {
  text-transform: uppercase;
  text-align: center;
  background-color: #dedede;
}

.price {
  font-size: 25px;
}

.ship_info {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.more:link,
.more:visited {
  color: black;
}
.more:hover,
.more:active {
  text-decoration: none;
}

ul {
  list-style: square;
}

button {
  font-size: 25px;
  background-color: black;
  color: #dedede;
  text-transform: uppercase;
  cursor: pointer;
}
button:hover {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
}

.detail-title {
  text-transform: uppercase;
}
