* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.container {
  width: 825px;
  margin: 50px auto;
}

article {
  border: 5px solid #444;
}

.main-header {
  text-transform: uppercase;
  text-align: center;
  background-color: #dedede;
  padding: 10px 0;
  margin: 0;
  position: relative;
}

.shoeimg {
  margin-bottom: 0;
}

.price {
  font-size: 30px;
  margin: 0;
}
.post .price {
  font-size: 25px;
}

.ship_info {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.more:link,
.more:visited {
  color: black;
}
.more:hover,
.more:active {
  text-decoration: none;
}

ul {
  list-style: square;
}

ul,
li {
  padding-bottom: 10px;
}

button {
  font-size: 25px;
  background-color: black;
  color: #dedede;
  text-transform: uppercase;
  cursor: pointer;
  width: 820px;
}
button:hover {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
}

.details-title {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.main-header::before {
  content: "SALE";
  font-size: small;
  color: #dedede;
  letter-spacing: 3px;
  background-color: red;
  position: absolute;
  padding: 5px 10px;
  left: -20px;
  top: -10px;
}

.color {
  width: 20px;
  height: 20px;
  background-color: black;
  display: inline-block;
  margin-right: 10px;
  margin-top: 25px;
}
.c2 {
  background-color: rgb(46, 19, 222);
}

.c3 {
  background-color: #de1313;
}

.c4 {
  background-color: #d0e910;
}

.c5 {
  background-color: #10e929;
}

.c6 {
  background-color: #e97910;
}

.container1 {
  width: 250px;
}

.container2 {
  width: 250px;
  position: relative;
  margin-top: 20px;
}
.container3 {
  width: 250px;
  margin-top: 20px;
}

.more {
  padding-top: 10px;
}

.description {
  margin-bottom: 15px;
  display: block;
}

.row {
  display: flex;
  gap: 30px;
}

.pands {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
